/* 
Figma Community Forum
Category banners

This file themes the top-bars of Discourse per category.
*/

.category-title-header {
  .category-title-contents {
    &:after {
      position: absolute;
      right: 0;
      z-index: 0;
    }
  }
}

@media (max-width: 1074px) {
  .category-banner-interactive-components-beta,
  .category-banner-ic-questions,
  .category-banner-ic-feedback,
  .category-banner-ic-bugs,
  .category-banner-ic-release-notes {
    .category-title-contents:after {
      content: none !important;
    }
  }
}

@media (max-width: 920px) {
  .category-banner-plugin-api,
  .category-banner-plugin-announcements,
  .category-banner-plugin-questions,
  .category-banner-plugin-feedback-and-ideas,
  .category-banner-plugin-bugs,
  .category-banner-plugin-code-share,
  .category-banner-plugin-show-and-tell {
    .category-title-contents:after {
      content: none !important;
    }
  }
}

@media (max-width: 740px) {
  .category-banner-general {
    .category-title-contents:after {
      content: none !important;
    }
  }
  .category-banner-product-feedback {
    .category-title-contents:after {
      content: none !important;
    }
  }
}

@media (max-width: 720px) {
  .category-banner-product-questions {
    .category-title-contents:after {
      content: none !important;
    }
  }
  .category-banner-mobile-beta {
    .category-title-contents:after {
      content: none !important;
    }
  }
}

@media (max-width: 676px) {
  .category-banner-figjam,
  .category-banner-figjam-faqs,
  .category-banner-figjam-release-notes,
  .category-banner-figjam-questions,
  .category-banner-figjam-feedback,
  .category-banner-figjam-bugs {
    .category-title-contents:after {
      content: none !important;
    }
  }
}

@media (max-width: 570px) {
  .category-banner-rest-api {
    .category-title-contents:after {
      content: none !important;
    }
  }
}
